@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.work {
  display: flex;
}
.resume {
  font-family: "Monsterrat", sans-serif;
}

.resume-head h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  font-family: "Abril-Fatface";
}
.resume-head {
  background-color: #000;
  width: 100%;
}

.resume-head h6 {
  font-family: "Abril-Fatface";
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.resume-head h3 {
  font-family: "Abril-Fatface";
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.skills {
  text-align: left;
  font-size: 15px;
}

.text {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.title,
.description,
.work {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.description p,
h5 {
  display: flex;
  font-size: 15px;
  font-weight: lighter;
}

.description h5 {
  font-size: 20px;
  font-weight: bold;
  color: #1d1545;
}

.text p {
  text-align: left;
  font-size: 16px;
}

.description h6 {
  font-size: 25px;
  font-style: bolder;
}

.work p {
  margin-left: 1.5rem;
  justify-content: space-around;
  display: grid;
  grid-template-columns: 25px 25px 25px 25px;
}

@media (min-width: 375px) and (max-width: 576px) {
  .resume {
    display: block;
  }

  .text {
    display: block;
    text-align: center;
    width: 100%;
  }

  .title,
  .description,
  .work {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }

  .text p {
    text-align: left;
    font-size: 15px;
  }

  .work h6 {
    text-align: center;
    margin-top: 4rem;
  }
  div .description h5 {
    text-align: center;
  }
  .description h6 {
    text-align: center;
  }

  .work p {
    display: grid;
    grid-template-columns: 15px 15px 15px 15px;
  }
  .resume-head {
    margin: 0;
    padding: 0;
  }
  .resume-head h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    font-family: "Abril-Fatface";
  }
}
