@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

#about {
  background-image: url(../images/yes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100%;
}

#about h2 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 4rem;
  color: #000;
  text-align: center;
}
.about-container {
  display: grid;
  grid-template-columns: 500px 1fr;
}

.name .links img {
  width: 40%;
}
.links {
  display: flex;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

.name h5 {
  padding-top: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 4rem;
}

.about-container-left img {
  display: flex;
  width: 80%;
  margin-left: 2rem;
  border-radius: 15rem;
}

.content-about h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding: 13px;
  margin-top: 9rem;
}

.content-about h3 {
  margin-top: 10px;
  font-size: 1rem;
  padding: 13px;
}
.content-about span {
  color: rgb(116, 113, 113);
  font-weight: bolder;
  font-size: 3rem;
}

@media (min-width: 375px) and (max-width: 576px) {
  #about {
    display: block;
  }
  .about-container {
    display: block;
  }
  .about-container-left img {
    margin: auto;
    width: 40%;
    border-radius: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .content-about h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    padding: 10px;
  }

  .content-about span {
    font-size: 1.8rem;
  }
  .name .links img {
    width: 100%;
    margin: 4px;
  }
  .links {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-evenly;
    margin-left: 13px;
  }

  .name h5 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 7rem;
    display: inline;
  }
}
