@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

nav {
  /* background-color: #93c572; */
  font-size: 1rem;
  font-family: "Montserrat";
}
nav span {
  color: rgb(203, 127, 127);
}

.mobileimg {
  display: none;
}
.nav-title {
  font-size: 2rem;
  font-weight: bolder;
}

.navbar-nav .download {
  background-color: rgb(197, 182, 220);

  justify-content: space-between;
  outline: 1px solid black;
}

.navbar-nav button:hover {
  background-color: rgb(242, 248, 242);
  transition: 0.7s;
  outline: 1px solid black;
}

.navbar-nav .nav-item {
  font-size: 20px;
}
