@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

nav {
  background-color: rgb(45, 45, 48);
  font-size: 1rem;
  font-family: "Montserrat";
}
nav span {
  color: rgb(203, 127, 127);
}

.mobileimg {
  display: none;
}
.nav-title {
  font-size: 2rem;
  font-weight: bolder;
}

.navbar-nav button {
  color: #000;
  background-color: rgb(98, 148, 190);
  border-radius: 3px;
  border-style: none;
  outline: 1px solid black;
}

.navbar-nav button:hover {
  background-color: rgb(5, 172, 11);
  transition: 0.7s;
  outline: 1px solid black;
}
