.footer {
  background-color: rgb(31, 38, 49);
}

.footer .icon {
  display: none;
}

div .footer {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 2rem 0;
}
.footer .contact {
  border-left: 1px solid rgb(203, 127, 127);
  border-right: 1px solid rgb(203, 127, 127);
  padding: 0 7rem;
}
.footer h6 {
  color: rgb(203, 127, 127);
}

@media (min-width: 375px) and (max-width: 576px) {
  div .footer {
    display: block;
    color: #fff;
    padding: 1rem 0;
  }
  .footer .contact {
    border-left: 0;
    border-right: 0;
    padding: 0 6px;
    margin: 0;
  }
  .footer h6 {
    display: none;
  }
  .footer i {
    display: block;
  }
  .footer {
    display: block;
  }
  .footer p {
    display: flex;
  }
}
